html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	outline: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	color: #000000;
}

h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
}

h4 {
	font-size: 30px;
	line-height: 30px;
}

h5 {
	font-size: 24px;
	line-height: 24px;
}

h6 {
	font-size: 20px;
	line-height: 20px;
}

.title {
	margin-bottom: 20px;

	span {
		color: $btn
	}
}

.section__title-box {
	padding: 40px 30px;
	padding-right: 180px;
	min-height: 110px;
	border-radius: 6px;
	background-color: #fff;
	margin-bottom: 50px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

	h4 {
		font-weight: 500;
	}
}

form {
	margin: 0;
	padding: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: 'Quicksand';
	font-weight: 400;
	color: #555555;
	font-size: 16px;
}


.page-section {
	padding: 120px 0;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.globbtn {
	width: 190px;
	height: 55px;
	text-align: center;
	padding: 16px;
	margin: 0 15px;
	color: #ffffff;
	background-color: transparent;
	border-radius: 28px;
	transition: 0.3s;
	border: 1px solid #ffffff;

	&:hover {
		background-color: #ffffff;
		color: $btn;
	}
}

.globbtn--white {
	background-color: #ffffff;
	color: $btn;

	&:hover {
		background-color: transparent;
		color: #ffffff;
	}
}

.globbtn--blue {
	border: 1px solid #ffffff;
	background-color: $btn;

	&:hover {
		border-color: $btn;
	}
}