html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	outline: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	color: #000000;
}

h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
}

h4 {
	font-size: 30px;
	line-height: 30px;
}

h5 {
	font-size: 24px;
	line-height: 24px;
}

h6 {
	font-size: 20px;
	line-height: 20px;
}

form {
	margin: 0;
	padding: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: 'Quicksand';
	font-weight: 400;
	color: #555555;
	font-size: 16px;
}


.page-section {
	padding: 120px 0;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}