@import 'fonts';
@import 'vars';
@import 'global';

html {
	min-height: 6000px;
}

// header start

.header {
	&__top {
		background-color: $bg;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 100px;
	}

	&__btn {
		font-size: 14px;
		line-height: 18px;
		color: #ffffff;
		background-color: $btn;
		border-radius: 20px;
		border: 1px solid transparent;
		padding: 9px 17px;
		margin-left: auto;
		margin-right: 50px;
		transition: 0.3s;

		&:hover {
			background-color: #ffffff;
			color: $btn;
			border: 1px solid $btn;
		}
	}

	&__links {
		display: flex;
		align-items: center;

		img {
			opacity: 0.3;
		}

		a+a {
			margin-left: 30px;
		}

		&-item {
			display: block;
			position: relative;
			color: #ffffff;

			&:hover img {
				opacity: 1;
			}
		}

		&-span {
			position: absolute;
			font-size: 14px;
			font-weight: 500;
			min-width: 22px;
			min-height: 22px;
			line-height: 22px;
			padding: 0 5px;
			right: -15px;
			top: -12px;
			border-radius: 50%;
			text-align: center;
		}
	}

	&__alerts-span {
		background-color: #ff6a6c;
	}

	&__messages-span {
		background-color: #62d03b;
	}

	&__cart-span {
		background-color: #0674ec;
	}

	&__profile-box {
		margin-left: 45px;
		display: flex;
		align-items: center;

		a {
			font-size: 16px;
		}
	}

	&__profile-img {
		margin-right: 22px;
		border-radius: 50%;
		overflow: hidden;

		a {
			display: block;
		}

		img {
			display: block;
			width: 50px;
			height: 50px;
			max-width: 100%;
		}

		&:hover {
			box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
		}
	}

	&__profile {
		&-name {
			display: block;

			max-width: 140px;
			margin-bottom: 6px;
			font-weight: 500;
			color: $darkmain;

			&:hover {
				color: $btn;
				text-shadow: 1px 1px 15px $btn;
			}
		}

		&-cash {
			color: $btn;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid $btn;
				text-shadow: 1px 1px 15px $btn;
			}
		}
	}
}

.header__bottom-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
}

.header__menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	font-weight: 500;

	li+li {
		margin-left: 34px;
	}

	a {
		color: $darkmain;
		transition: 0.3s;

		&:hover {
			color: $btn;
			text-shadow: 1px 1px 15px $btn;
		}
	}
}

.header__search {
	position: relative;
	font-size: 15px;

	&-input {
		height: 46px;
		min-width: 360px;
		padding: 14px 85px 14px 24px;
		border: 1px solid #d9dfe5;
		border-radius: 25px;

		&::placeholder {
			color: #898f96;
		}

		&:focus {
			border: 1px solid $btn;
		}
	}

	&-btn {
		position: absolute;
		background-color: $btn;
		background-image: url(../images/icons/magnifier.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 70px;
		height: 46px;
		border: 1px solid transparent;
		border-radius: 25px;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.3s;

		&:hover {
			background-color: #ffffff;
			color: $btn;
			border: 1px solid $btn;
			background-image: url(../images/icons/magnifier-blue.svg);
		}
	}
}

// header end

// start create

.create {
	background-image: linear-gradient(to right, #2d51d1, #0c31bc);
	color: #ffffff;
	min-height: 725px;
	text-align: center;
	padding: 160px 30px 0;
	margin-bottom: 65px;

	&__inner {
		position: relative;
		min-height: 565px;
	}

	&__title {
		font-size: 60px;
		line-height: 70px;
		font-weight: 400;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
		margin-bottom: 30px;
		color: #ffffff;

		span {
			font-weight: 700;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 26px;
		font-weight: 500;
		margin-bottom: 65px;
	}

	&__btn {
		width: 190px;
		height: 55px;
		text-align: center;
		border: 1px solid #ffffff;
		padding: 19px;
		margin: 0 15px;
		color: #ffffff;
		border-radius: 30px;
		transition: 0.3s;

		&:hover {
			background-color: #ffffff;
			color: $btn;
		}
	}

	&__search {
		position: absolute;
		width: 100%;
		bottom: -65px;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
	}

	&__form {
		position: relative;
		display: flex;
		padding: 40px;
		border-radius: 6px;
		background-color: #fff;
	}

	&__form-input {
		display: block;
		height: 55px;
		border: 1px solid #dcdcdc;
		border-radius: 5px 0 0 5px;
		width: 100%;
		max-width: 613px;
		padding: 15px;

		&:focus {
			border-color: $btn;
		}
	}

	.jq-selectbox__select {
		border: 1px solid #dcdcdc;
		background: #fff;
		border-left: none;
		box-shadow: none;
		height: 55px;
		width: 195px;
		border-radius: 0 5px 5px 0;
		padding: 10px 55px 0 10px;
		font-family: 'Quicksand';
		font-size: 16px;
	}

	.jq-selectbox__trigger {
		border: none;
		width: 55px;
	}

	.jq-selectbox__trigger-arrow {
		background-image: url(../images/icons/chevron-down.svg);
		background-repeat: no-repeat;
		background-position: center;
		border: none;
		width: 14px;
		height: 8px;
		top: 20px;
		right: 20px;
	}

	.jq-selectbox li.selected,
	.jq-selectbox li:hover {
		transition: 0.3s;
		background-color: $btn;
	}

	.jq-selectbox__dropdown {
		text-align: left;
		font-family: 'Quicksand';
		font-size: 16px;
	}

	&__search-btn {
		width: 223px;
		height: 55px;
		background-color: $btn;
		color: #ffffff;
		border: 1px solid transparent;
		border-radius: 6px;
		margin-left: 30px;
		transition: 0.3s;

		&:hover {
			background-color: #ffffff;
			color: $btn;
			border: 1px solid $btn;
		}
	}

	&__form::before,
	&__form::after {
		content: '';
		position: absolute;
		height: 50px;
		border-radius: 6px;
		background-color: rgba(255, 255, 255, 0.5);
	}

	&__form::before {
		top: -15px;
		left: 15px;
		right: 15px;
	}

	&__form::after {
		top: -30px;
		left: 30px;
		right: 30px;
	}
}

// end create 

.page-section {
	padding: 120px 0;
}

// start advantages

.advantages {
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		text-align: center;
		max-width: 360px;
		padding: 0 34px;
		border-radius: 4px;
		transition: 0.3s;

		&:hover {
			box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		}

		img {
			max-width: 100%;
		}

		&-img {
			height: 120px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;
		}

		&-title {
			text-align: center;
			margin-bottom: 25px;
		}

		&-text {
			line-height: 30px;
		}
	}
}

// end plusses

.section__title-box {
	padding: 40px 30px;
	padding-right: 180px;
	min-height: 110px;
	border-radius: 6px;
	background-color: #fff;
	margin-bottom: 50px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

	h4 {
		font-weight: 500;
	}
}

// start featured

.featured {
	background-color: #eff1f5;

	&__slider {
		.slick-btn {
			width: 55px;
			height: 45px;
			border: none;
			background-color: $btn;
			border: 1px solid $btn;
			position: absolute;
			top: -125px;
			transition: 0.3s;

			path {
				fill: #ffffff;
			}

			&:hover {
				background-color: #fff;

				path {
					fill: $btn;
				}
			}
		}

		.slick-prev {
			border-radius: 25px 0 0 25px;
			z-index: 5;
			right: 90px;

			&:hover {}
		}

		.slick-next {
			border-radius: 0 25px 25px 0;
			z-index: 5;
			right: 35px;
		}
	}

	&__item-inner {
		display: flex;
		border-radius: 6px;
		overflow: hidden;
	}

	&__item-top {
		max-width: 555px;
		width: 100%;
		min-height: 450px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: 0.3s;
		background-color: #009688;
		position: relative;

		&:hover {
			box-shadow: inset 0px 0 200px 15px rgba(0, 0, 0, 0.5);
		}

		&:hover .featured__item-link {
			opacity: 1;
		}
	}

	&__item-link {
		position: absolute;
		opacity: 0;
		width: 130px;
		height: 45px;
		text-align: center;
		border: 1px solid #ffffff;
		padding: 12px 15px;
		margin: 0 15px;
		color: #ffffff;
		border-radius: 30px;
		font-size: 15px;
		font-weight: 500;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.3s;

		&:hover {
			background-color: #ffffff;
			color: $btn;
		}
	}

	&__item-link--info {
		right: 50%;
	}

	&__item-link--demo {
		left: 50%;
	}

	&__item-content {
		max-width: 585px;
		padding: 45px 60px 45px 50px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__content-top {
		padding-bottom: 45px;
	}

	&__item-title {
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__link {
		color: #000000;
		padding-bottom: 5px;
		border-bottom: 1px solid transparent;
		border-radius: 10px;

		&:hover {
			color: $link;
			border-bottom: 1px solid $link;
		}
	}

	&__item-box {
		display: flex;
		align-items: center;
		margin-bottom: 25px;
		font-size: 15px;
	}

	&__item-name {
		color: #000000;
		padding: 5px 0;
		border-radius: 4px;
		border-bottom: 1px solid transparent;
	}

	&__item-author {
		display: flex;
		align-items: center;
		// padding: 9px;
		margin-right: 12px;

		&:hover .featured__item-name {
			border-color: $link;
			color: $link;
		}
	}

	&__author-img {
		& img {
			border-radius: 50%;
			margin-right: 9px;
		}
	}

	&__cat-link {
		display: flex;
		align-items: center;

		&:hover .featured__item-category {
			border-bottom: 1px solid $link;
		}
	}

	&__item-category {
		padding: 5px 9px;
		border-radius: 4px;
		border-bottom: 1px solid transparent;
	}

	&__item-text {
		margin-bottom: 35px;
	}

	&__item-tags {
		font-size: 15px;
		line-height: 15px;
	}

	&__item-tag {
		color: $greytext;
		display: inline-block;
		background-color: #f1f3f6;
		padding: 7px 15px;
		border-radius: 19px;
		margin-right: 7px;

		&:hover {
			background-color: $btn;
			color: #ffffff;
		}
	}

	&__item-info {
		margin-top: auto;
		padding-top: 23px;
		display: flex;
		align-items: center;
		border-top: 1px solid $greyborder;
	}

	&__item-infoitem {
		color: $btn;
		min-width: 60px;
		padding: 7px 17px;

		&::before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__item-price {
		background-color: $btn;
		color: #ffffff;
		margin-right: 13px;
		text-align: center;
		border-radius: 15px;
	}

	&__item-likes {
		padding-left: 21px;
		color: $darkmain;

		position: relative;

		&::before {
			width: 16px;
			height: 14px;
			background-image: url(../images/icons/heart.svg);
		}
	}

	&__item-sales {
		color: $btn;
		padding-left: 20px;
		min-width: auto;
		position: relative;

		&::before {
			width: 14px;
			height: 14px;
			left: 0;
			top: 43%;
			background-image: url(../images/icons/cart-blue.svg);

		}
	}

	&__item-stars {
		margin-left: auto;
		width: auto !important;
		svg {
			width: 20px;
			height: 20px;
		}
	}

	& .jq-ry-container {
		background-image: url(../images/icons/star.svg);
		background-size: contain;
		padding: 0;
	}
}

// end featured

// start products

.products {
	background-color: #f6f7fb;

	&__title-box {
		padding-right: 30px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__filter {
		.jq-selectbox__select {
			font-family: 'Quicksand';
			color: $greytext;
			border: none;
			background: none;
			box-shadow: none;
		}

		.jq-selectbox__select,
		.jq-selectbox__select-text:visited {
			text-decoration: none;
		}

		.jq-selectbox__dropdown {
			font-family: 'Quicksand';
		}

		.jq-selectbox li {
			border-radius: 3px;
		}

		.jq-selectbox li.selected,
		li:hover {
			background-color: #A3ABB1;
			color: #FFF;
			transition: 0.3s;
		}

		.jq-selectbox__trigger {
			border: none;
		}

		.jq-selectbox__trigger-arrow {
			background-image: url(../images/icons/dots.svg);
			background-repeat: no-repeat;
			background-position: center;
			border: none;
			width: 20px;
			height: 20px;
			top: 6px;
		}
	}

	&__sort {
		background-color: #ffffff;
		border-radius: 6px;
		margin-bottom: 50px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

		&-list {
			display: flex;
			padding: 30px;
		}

		button {
			border: none;
		}

		&-btn {
			margin-right: 10px;
			color: $greytext;
			font-size: 15px;
			line-height: 15px;
			background-color: #f1f3f6;
			padding: 10px 18px;
			border-radius: 20px;
			transition: 0.3s;

			&.mixitup-control-active {
				background-color: $btn;
				color: #ffffff;
			}

			&:hover {
				background-color: #A3ABB1;
			}
		}
	}

	&__items {
		margin-bottom: 60px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		max-width: 360px;
		max-height: 530px;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
	}

	&__item-top {
		position: relative;
		min-height: 230px;
		transition: 0.3s;
		background-color: #009688;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&:hover {
			box-shadow: inset 0px 0 180px 0 rgba(0, 0, 0, 0.5);
		}

		&:hover .products__item-link {
			opacity: 1;
		}
	}

	&__item-link {
		position: absolute;
		opacity: 0;
		width: 130px;
		height: 45px;
		text-align: center;
		border: 1px solid #ffffff;
		padding: 12px 15px;
		margin: 0 15px;
		color: #ffffff;
		border-radius: 30px;
		font-size: 15px;
		font-weight: 500;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.3s;

		&:hover {
			background-color: #ffffff;
			color: $btn;
		}
	}

	&__item-link--info {
		right: 47%;
	}

	&__item-link--demo {
		left: 47%;
	}

	&__item-content {
		padding: 30px;
	}

	&__link {
		color: #000000;
		border-bottom: 1px solid transparent;
		border-radius: 14px;
		padding-bottom: 5px;
		transition: 0.3s;

		&:hover {
			color: $link;
			border-bottom: 1px solid $link;
		}
	}

	&__item-title {
		margin-bottom: 10px;
	}

	&__item-box {
		margin-bottom: 30px;
		display: flex;
		align-items: center;
	}

	&__item-author {
		display: flex;
		align-items: center;
		color: #000000;
		transition: 0.3s;

		&:hover .products__item-name {
			border-color: $link;
		}
	}

	&__item-img {
		width: 28px;
		height: 28px;
		margin-right: 6px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__item-name {
		margin-right: 20px;
		padding-bottom: 2px;
		border-radius: 4px;
		border-bottom: 1px solid transparent;
		transition: 0.3s;
	}

	&__item-category {
		padding: 0 0 2px 25px;
		color: $link;
		position: relative;
		border-bottom: 1px solid transparent;
		border-radius: 6px;
		transition: 0.3s;

		&:hover {
			border-color: $link;
		}

		&::before {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			background-image: url(../images/icons/wp.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			left: 0;
			top: 1px;
		}

	}

	&__item-text {
		line-height: 30px;
		overflow: hidden;
		max-height: 86px;
	}

	&__item-info {
		margin-top: auto;
		display: flex;
		align-items: center;
		padding: 15px 30px;
		font-size: 15px;
		line-height: 15px;
		border-top: 1px solid $greyborder;
	}

	&__item-infoitem {
		color: $btn;
		min-width: 60px;
		padding: 7px;

		&::before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__item-price {
		background-color: #e6f1fd;
		margin-right: 13px;
		text-align: center;
		border-radius: 15px;
	}

	&__item-likes {
		padding-left: 21px;
		color: $darkmain;

		position: relative;

		&::before {
			width: 16px;
			height: 14px;
			background-image: url(../images/icons/heart.svg);
		}
	}

	& .jq-ry-container {
		background-image: url(../images/icons/star.svg);
		background-size: contain;
		padding: 0;
	}

	&__item-sales {
		color: $btn;
		margin-left: auto;
		padding-left: 20px;
		min-width: auto;
		position: relative;

		&::before {
			width: 14px;
			height: 14px;
			left: 0;
			top: 43%;
			background-image: url(../images/icons/cart-blue.svg);

		}
	}

	&__btn {
		text-align: center;

		&-link {
			width: 190px;
			height: 55px;
			text-align: center;
			border: 1px solid #ffffff;
			padding: 19px;
			margin: 0 15px;
			color: #ffffff;
			background-color: $btn;
			border-radius: 30px;
			transition: 0.3s;

			&:hover {
				background-color: #ffffff;
				border-color: $btn;
				color: $btn;
			}
		}
	}
}

// end products

// start followers

.followers {
	background-color: #eff1f5;

	&__slider {
		.slick-btn {
			width: 55px;
			height: 45px;
			border: none;
			background-color: $btn;
			border: 1px solid $btn;
			position: absolute;
			top: -125px;
			transition: 0.3s;

			path {
				fill: #ffffff;
			}

			&:hover {
				background-color: #fff;

				path {
					fill: $btn;
				}
			}
		}

		.slick-prev {
			border-radius: 25px 0 0 25px;
			z-index: 5;
			right: 90px;

			&:hover {}
		}

		.slick-next {
			border-radius: 0 25px 25px 0;
			z-index: 5;
			right: 35px;
		}

		.slick-slide+.slick-slide {
			margin-left: 30px;
		}
	}

	&__item {}

	& .products__item {
		margin-bottom: 0;
	}
	
	&__item-stars {
		margin-left: auto;
		height: 15px;
	}

	& .jq-ry-container {
		background-image: url(../images/icons/star.svg);
		background-size: contain;
		padding: 0;
	}

}

// end followers

// starn counters

.counters {
	background-color: #212225;
	min-height: 350px;
	color: #ffffff;
	padding: 90px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
			// text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;

		&-img {
			margin-bottom: 40px;
			svg {
				width: 48px;
				height: 48px;
			}
		}
		&-briefcase {
			svg {
				path {
					fill: #feb71d;
				}
			}
			.counters__item-count {
				color:  #feb71d;
			}
		}
		&-cloud {
			svg {
				path {
					fill: #58c9e9;
				}
			}
			.counters__item-count {
				color:  #58c9e9;
			}
		}
		&-smile {
			svg {
				path {
					fill: #77de51;
				}
			}
			.counters__item-count {
				color:  #77de51;
			}
		}
		&-users {
			svg {
				path {
					fill: #ff6a6d;
				}
			}
			.counters__item-count {
				color:  #ff6a6d;
			}
		}


		&-count {
			font-size: 36px;
			line-height: 36px;
			margin-top: auto;
			margin-bottom: 10px;
		}

		&-text {
			font-size: 18px;
			line-height: 18px;
		}
	}


}